<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ydj.mapper.UserMapper" >
    <sql id="user_column">
        id
    </sql>
    <select id="selectOne" parameterType="com.ydj.model.User" resultType="com.ydj.model.User">
        select
          <include refid="user_column"/>
        from user
        where id=#{id}
    </select>
    <insert id="insertOne" parameterType="com.ydj.model.User">
        insert into user values (id)
    </insert>
</mapper>